@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-15">Welcome to the Zadtube</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <img src="/image/image.png" style="height: 200px; margin-right: auto;" />
</div>
